<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset = "UTF-8" />
    <title>Bookers</title>
    <link rel="stylesheet" href="homes.scss">
  </head>
  
  <body>
    <h2 class="heading">Books </h2>
    <div class="books">
      <div class="books-title">
        <h4>Title</h4>
        <% @books.each do |book| %>
          <p><%= book.title %></p>
        <% end %>
      </div>
    
      <div class="books-body">
        <h4>Body</h4>
        <% @books.each do |book| %>
          <p><%= book.body %></p>
        <% end %>
        </div>
    
    <h2 class="heading">New Book</h2>
    <p>Title</p>
    <%= form_with model:@book, url:new_book_path, local:true do |f| %>
      <%= f.text_field :title %>
      <%= f.text_area :body %>
      <%= f.submit 'Create Book' %>
    <% end %>
 

  </body>
</html>